
<h2>CompanyInfo</h2>

@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/categoryController.js"></script>
    <script src="~/js/categoryEditController.js"></script>
    <script src="~/js/toDoItemsController.js"></script>
    <script src="~/js/confirmDialogDirective.js"></script>
}