@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/companyController.js"></script>
    <script src="js/arrayService.js"></script>
    <!--<script src="js/childSummaService.js"></script>-->
    <script src="js/confirmDirective.js"></script>
}

<div class="row" ng-controller="companyController">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 toggle">
            <button class="btn btn-block" ng-click="showTable()">TABLE</button>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 toggle">
            <button class="btn btn-block" ng-click="showTree()">TREE</button>
        </div>
    </div>

    <div ng-if="toggleTable">
        <DIV class="container">
            <h1 class="text text-center">COMPANIES LIST</h1>
            <hr class="styleHR">

            <div ng-show="isLoading" class="text-center loading"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
            <div class="alert alert-danger" ng-show="errorMessage">{{ errorMessage }}</div>

            <!--ADD NEW COMPANY-->
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Parent</th>
                        <th>Name</th>
                        <th>Own Money</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <div class="dropdown">
                                <select ng-model="company.parentId">
                                    <option ng-repeat="node in companiesAllInfo" value="{{ node.id }}"> {{ node.name }}</option>
                                </select>
                            </div>
                        </th>
                        <th><input class="form-control" ng-model="company.name" /></th>
                        <th><input class="form-control" type="number" step="0.01" ng-model="company.ownMoney" /></th>
                        <th><button class="btn btn-primary" ng-click="addChildCompany(company.parentId, company)">Add New Company</button></th>
                        <th><button class="btn btn-warning" ng-click="updateCompany(company.id)">Update Company</button></th>
                    </tr>
                </tbody>
            </table>

            <hr class="styleHR">

            <!--LIST-->
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Own Money</th>
                        <th>Child Money</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="company in companiesAllInfo">
                        <td>{{company.name}}</td>
                        <td>{{company.ownMoney | currency}}</td>
                        <td>{{company.childMoney | currency}}</td>
                        <td class="editCompany">
                            <button class="btn btn-info" ng-click="editCompany(company.id)">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </td>
                        <td class="deleteCompany">
                            <button class="btn btn-danger" ng-really-message="Are you sure to delete company {{company.name}} ?" ng-really-click="deleteCompany(company.id, company.parentId)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr class="styleHR">
        </DIV>
    </div>

    <div class="container" ng-if="toggleTree">

        <div class="row">
            <h1 class="text text-center">COMPANIES TREE</h1>
            <hr class="styleHR">

            <div ng-show="isLoading" class="text-center loading"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
            <div class="alert alert-danger" ng-show="errorMessage">{{ errorMessage }}</div>

            <!--Build company tree-->
            <div class="treecolor">
                <script type="text/ng-template" id="categoryTree">

                    <div class="row red" id={{node.id}}>
                        <div class="col-md-10 col-lg-10" ng-hide="editedItems[node.id]">
                            <h3>{{  node.name  }}</h3>
                            <h4>Company Money - {{  node.ownMoney | currency  }}</h4>
                            <h4>Child company money - {{  node.childMoney | currency }}</h4>
                            <a href="#" ng-click="openEditMode(node)"><i class="fa fa-pencil-square-o editCompany"></i></a>
                        </div>

                        <div class="col-md-10 col-lg-10" ng-show="editedItems[node.id]">
                            <h3>Company Name: </h3><input class="input" ng-model="changedCompany.name">
                            <h4>Company Money: </h4><input type="number" step="0.01" ng-model="changedCompany.ownMoney" ng-value="changedCompany.ownMoney">
                            <a href="#" ng-click="submitChange(node.id)"><i class="fa fa-check-square-o "></i></a>
                        </div>

                        <div class="col-md-2 col-lg-2 right">
                            <a href="#" ng-click="addChildCompany(node.id)"><i class="fa fa-plus-square-o"></i></a>
                            <a href="#" ng-really-message="Are you sure to delete company {{node.name}} ?" ng-really-click="deleteCompany(node.id, node.parentId)"><i class="fa fa-times remove"></i></a>
                        </div>
                    </div>
                    <hr />

            </div>
            <ul ng-if="node.children">
                <li ng-repeat="node in node.children" ng-include="'categoryTree'"></li>
            </ul>
            </script>

            <ul class="tree">
                <li ng-repeat="node in roots" ng-include="'categoryTree'"></li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <button class="btn btn-block btn-root" ng-click="addChildCompany(company.parentId)">Add Root Company</button>
            </div>
        </div>
        <hr class="styleHR">

    </div>
</div>